<h1>My Work</h1>
<!-- <div>
  <app-registeruser></app-registeruser>
</div> -->
<!-- <div>
  <app-loginuser></app-loginuser>
</div> -->
<!-- <div>
  <app-profileuser></app-profileuser>
</div> -->
<!-- <div>
  <app-changepassworduser></app-changepassworduser>
</div> -->
<!-- <div>
  <app-profileadmin></app-profileadmin>
</div>
<div>
  <app-loginadmin></app-loginadmin>
</div> -->
<!-- <div>
  <app-forgotpassworduser></app-forgotpassworduser>
</div> -->
<div>
  <app-cart></app-cart>
</div>
<div>
  <router-outlet></router-outlet>
</div>